h1 {
    color: #1f76c2;
}

h2 {
    color: #243c52;
}

/* .buttonStart {
    margin-left: 550px;
} */

.bgImage {
    /* width: 94%;
    height: 580px;
    opacity: 1;
    position: center; */
    --column-width: 980px;
    --column-flex: 980;
}

.logo {
    width: 100px;
    height: 60px;
    float: left;
}

.aboutUs {
    width: 80px;
    height: 40px;
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}


.text-agree {
    padding-right: 10px;
}




body {
    background-color: #ffffff;
}